.dashboard {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   gap: 1em;
}

.dashboard h2 {
   font-size: 2.2rem;
   margin-bottom: .5em;
}

.dashboard p {
   color: var(--color-dark);
}

.dashboard .post {
   border: 2px solid var(--color-dark);
   border-radius: 17px;
   min-width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 12px 8px;
}

.dashboard .list_buttons {
   display: flex;
   align-items: center;
   gap: .5em;
}