.create_post {
   max-width: 40%;
   flex-direction: column;
}
.txt_pvw {
   text-align: center;
   font-size: 1.25rem;
   font-weight: 500;
   color: var(--color-black);
}
.img_preview {
   max-width: 50%;
   height: auto;
   margin: 0 auto;
}

@media (max-width: 1600px ) {
   .create_post {
      max-width: 60%;
   }   
}

@media (max-width: 1100px ) {
   .create_post {
      max-width: 70%;
   }   
}