.navbar {
   display: flex;
   box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.17);
   justify-content: space-between;
   align-items: center;
   padding: .5em 2em;
}

.brand {
   font-size: 1.2rem;
}

.brand span {
   font-weight: 800;
   text-transform: uppercase;
}

.link_list {
   display: flex;
   list-style: none;
   gap: 1em;
}

.link_list li a {
   padding: .4em .6em;
}

.link_list li button {
   border: 0;
   border-radius: 0;
   padding: 0;
   background-color: transparent;
   color: var(--color-black);
   font-size: 0.895rem;
   transition: all 0.45s ease-in-out;
}

.link_list li button:hover {
   font-size: 1rem;
   text-decoration: underline;
}

.active {
   background-color: var(--color-black);
   color: var(--color-white);
}
