.about {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.about p {
   color: var(--color-black);
}

.about a {
   border: 2px solid var(--color-dark);
   border-radius: 8px;
   display: block;
   padding: 8px 12px;
   transition: all 0.45s ease;
}